#card{
    background-color:rgb(230, 57, 57) ;
    width: 400px;
    height: 580px;
    border-radius: 5%;
    margin-left: 400px;
}

#picture{
    width: 200px;
    height: 250px;
    border-radius: 5%;
    margin-left: 90px;
    margin-top: 20px;
}

#info{
    background-color: rgb(37, 179, 179);
    margin: 20px;
    border-radius: 5%;
}

#info p{ 
    padding-left: 70px;  
    padding-top: 5%; 
    margin-left: 25px;       
}

#techs{
    width: 45px;
    height: 45px;
    margin-left: 25px;    
}

#code{
    padding-left: 60px;
    padding: auto;
}

#cont{
    width: 45px;
    height: 45px;
    margin-left: 25px;
    padding: auto;
}

#contact{
    padding-left: 60px;
    padding: auto;
}